@mixin fluid-font($pc-size, $mobile-size) {
  $add-size: $pc-size - $mobile-size;
  $add-mobile-size: $add-size + $add-size * 0.7;

  @media (max-width: $mobile-width) {
    font-size: calc(#{$mobile-size + px} + #{$add-mobile-size} * ((100vw - 320px) / #{$page-width}));
  }

  @media (min-width: $mobile-width) {
    font-size: calc(#{$mobile-size + px} + #{$add-size} * (100vw / #{$page-width}));
  }
}

@mixin media-desctop {
  @media (min-width: $desctop-width) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $laptop-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-small-tablet {
  @media (max-width: $small-tablet-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-small-mobile {
  @media (max-width: $small-mobile-width) {
    @content;
  }
}